---
import Layout from '@layouts/SinglePage.astro';


// Donors will be arrays of strings
// first item in array will be name of donor
// second item is optional and would be the honoraria
const donors = [
	["William and Gail Weyerhaeuser"],
	["The Yotsuuye Family"],
	["Frank and Penny Fukui", "Yoshizo and Mae Fukui, Taft and Kay Kazue Beppu"],
	["Liz and Mike Dunbar"],
	["Tsuyoshi and Yayoi Inouye Family", "Bessie and Roy Okada - Ruby, Frances, Lillian, Howard, Lloyd Inouye"],
	["Lyla Tsuji Anderson"],
	["Bill Driscoll and Lisa Hoffman"],
	["Sheldon Arakaki"],
	["Barbara Mizoguchi-Asahara and David Asahara"],
	["Melvin Inouye"],
	["JRMcAfee Trust", "The Bitow Family"],
	["Eileen Yamada Lamphere and Mark Lamphere", "Carl, Tane, Kazuko, George, Henry, Rose, and Mary Osawa"],
	["John Meister", "Sandy Shizue Meister"],
	["The Okamoto Family", "Tokio, Sadako, Toshiko, Michiko, and Kazuko Akagi"],
	["Sharon Sobie Seymour and David Seymour", "Yae Ogino"],
	["Edwin Shigihara"],
	["The Tsutsumoto and Sakai Families", "Nobuichi, Harumi, May, Ben, Helene, Tom, Tama, Sally and Katie"]
];
type OrgInfo  = {
	name: string;
	icon: string;
	width?: string;
	honoraria?: string;
}

const iconDir = '/donor-icons/';
const organizations:OrgInfo[] = [
	{
		name: "The National Park Service",
		icon: "nps-logo.png"
	},
	{
		name: "The State of Washington",
		icon: "Seal_of_Washington.png"
	},
	{
		name: "Pierce County",
		icon: "Pierce_County_Logo.png"
	},
	{
		name: "Bill and Melinda Gates Foundation",
		icon: "Gates-Foundation.png"
	},
	{
		name: "The Masto Foundation",
		icon: "mastofoundation+logo.jpg"
	},
	{
		name: "Japanese American Community Foundation",
		icon: "JACF-logo-80H.png"
	},
	{
		name: "Norcliffe Foundation",
		icon: "norcliffe-foundation.png"
	},
	{
		name: "Japanese American Citizens League (Seattle Chapter)",
		icon: "seattle-JACL-logo.jpg",
	},
	{
		name: "Bamford Foundation",
		icon: "Bamford-Foundation.png"
	},
	{
		name: "Robert Chinn Foundation",
		icon: "Robert-Chinn-LOGO.png"
	},
	{
		name: "Community Health Care",
		icon: "CommHealth-logo.png",
		width: "160px",
		honoraria: "In honor of George and Kimi Tanbara"
	},
	{
		name: "Japanese American Citizens League (National Chapter)",
		icon: "Natl-LOGO.jpg"
	},
	{
		name: "Civic Learning Council",
		icon: "CLC-Logo.png"
	}
];

const endorsements = [
	"Alaska Chapter Japanese American Citizens League",
	"Olympia Chapter Japanese American Citizens League",
	"Portland Chapter Japanese American Citizens League",
	"Spokane Chapter Japanese American Citizens League",
	"Twin Cities Chapter Japanese American Citizens League"
]
---

<Layout
	title="Donors and Endorsements"
	description="Learn more about the donors and organizations who made the Remembrance Gallery possible and find out how you can support our work."
	keywords='Donors Supporting Organizations Endorsements'
	pubDate={new Date('May 11, 2024')}
>
<h2>
	Thank You to Our Donors and Supporters! 
</h2>
<p>
	The Remembrance Gallery opened on August 30th, 2024, thanks to over $2&nbsp;million in donations, grants, and other sources of support.
</p>
<div class="callout">
	We continue to accept donations to fund the ongoing maintenance and operation of the Gallery. Our work is far from done.
</div>
<p>
	 The Remembrance Gallery is not a static space. We are working to add new stories and materials every year in response to community needs and educator requests. 
</p>
<p>
	 <strong>Your support can help us improve and expand the impact of the gallery.</strong>
	 Your donations will enable us to develop new content, create educational curriculum, provide teacher workshops and school tours, as well as organize our annual Day of Remembrance events.
</p>
<p>
	<a href="/gallery/gallery-donate">
	Learn more about how contributions support the mission of the Remembrance Gallery</a> and consider donating to ensure these educational and public programs can happen.
</p>


<h2>
	Leadership Donors
</h2>
<ul class="donor-list">
	{
		donors.map(donorNames => {
			if (donorNames.length < 2) {
				return (
					<li>
						<div>
							{donorNames[0]}
						</div>
					</li>
				)
			}
			return (
				<li>
					<div>
						{donorNames[0]}<span class="honoraria">In honor of {donorNames[1]}</span> 
					</div>
				</li>
			)
		})
	}
</ul>
<h2>Honorary co-chairs</h2>
<div>Our honorary co-chairs for the Remembrance Gallery project are:
	<ul class="donor-list">
		<li>Bill Weyerhaeser</li>
		<li>Frank and Penny Fukui</li>
	</ul>
</div>
<h2>Contributing Organizations</h2>

<ul class="flexy-icons">
	{
		organizations.map(org => {
			const iconSrc = `${iconDir}${org.icon}`;
			const width = org.width ? org.width : '100%';
			if (org.honoraria) {
				return (
					<li title={org.name}>
						<div>
							<img src={iconSrc} alt={org.name} width={width}/>
							<span>{org.honoraria}</span>
						</div>
					</li>
				)
			}
			return (
				<li title={org.name}>
					<img src={iconSrc} alt={org.name} width= />
				</li>
			)
		})
	}
</ul>
<p>This project was funded, in part, by a grant from the U.S. Department of the Interior, National
	Park Service, Japanese American Confinement Sites Grant Program.</p>

<h2>Endorsements</h2>

<ul>
	{
		endorsements.map(donor => {
			return (
				<li>{donor}</li>
			)
		})
	}
</ul>

</Layout>

<style lang="scss">
	.donor-list {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		justify-content: space-between;
		gap: 12px 8px;
		padding: 0;
		margin: 0 0 1rem 0;
		li {
			display:flex;
			flex-direction: column;
			justify-content: center;
			width: 49%;
			height: 7rem;
			text-align: center;
			line-height: 1.4rem;
			min-width: 20rem;
			background: rgb(226,185,227);
			background: linear-gradient(120deg, rgb(243, 204, 243) 0%, rgba(251,236,254,1) 50%, rgb(219, 174, 245) 100%);
			box-shadow: 8px 4px 6px lightgray;
			div {
				margin: 0 1rem;
			}
			.honoraria {
				display:block;
				margin-top: 0.5rem;
				font-size: 1rem;
				line-height: 1.1rem;
				font-style: italic;
			}
		}
	}
	.flexy-icons {
		display:flex;
		justify-content: space-around;
		flex-wrap: wrap;
		list-style: none;
		gap: 1rem;
		padding: 0;
		li {
			display:flex;
			justify-content: center;
			align-content: center;
			max-width: 200px;
			max-height: 200px;
			min-height: 130px;
			text-align: center;
			span {
				display:block;
				font-size:1rem;
				font-style: italic;
				line-height: 1.2rem;
			}
		}
		img {
			object-fit: scale-down;
		}
	}
</style>