---
import { getCollection } from "astro:content";
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, SHOW_PAGE_DESCRIPTION } from "../consts";
import { ClientRouter } from 'astro:transitions';
import GalleryPhotosSlider from "@/components/GalleryPhotosSlider";
import LandingEvents from "@/components/LandingEvents";
import type { EventInfo } from '@components/LandingEvents';
import { getPositionOfLineAndCharacter } from "typescript";

const posts = (await getCollection('galleryEvents'))
  .sort(	(a, b) => a.data.eventDate.valueOf() - b.data.eventDate.valueOf()
	)
	.filter((a) => (!a.data.offline));
const eventInfos = posts.map(post => (
  {
    landingEventPulldate: post.data.eventDate.getTime(),
    slug: `/gallery/gallery-events/${post.slug}`,
    imgSrc: post.data.heroImage ? post.data.heroImage.src : null,
    title: post.data.title,
    description: post.data.description
  } as EventInfo
));

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ClientRouter />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    {SHOW_PAGE_DESCRIPTION ? <div class="page-desc"><strong>Page Description for Search Engines only:<br /></strong> <p>{SITE_DESCRIPTION}</p></div> : <span/> }
    <main>
      <h1 id="long-title">We are the Puyallup Valley JACL</h1>
      <p>
        Welcome to the official website for the Puyallup Valley Chapter of the
        Japanese American Citizens League. The <a href="https://jacl.org"
          >Japanese American Citizens League</a
        > is a national organization whose mission is to advocate and safeguard the
        civil and human rights of Asian and Pacific Islander Americans and all communities
        who are affected by injustice and bigotry. 
      </p>
      <p>
        The leaders and members of the
        JACL also work to promote and preserve the heritage and legacy of the Japanese
        American Community.
      </p>
      <h3>The Remembrance Gallery is now Open</h3>
      <p>
        <a href="/gallery">The Remembrance Gallery</a> opened to the public on August 30, 2024. 
        The Gallery brings awareness to the history of the “Puyallup Assembly Center” (PAC) as the largest 
        temporary American concentration camp in Washington State.
      </p>
      <GalleryPhotosSlider client:idle />
      <p>
        Located under the Grandstand at the <a href="http://thefair.com" target="_blank">Washington State Fairgrounds</a>, the Gallery is accessible during 
        the Washington State Fair, the Spring Fair, or by scheduled tour. Contact us to schedule a visit or 
        learn how you can support our work to raise awareness of civil rights violations and emphasize how 
        this chapter in American history is still relevant today.
      </p>
      <LandingEvents eventInfos={eventInfos} client:idle />
      <h3>Media Coverage</h3>
      <p>
        See our <a href="/media">Media</a> page for news coverage about the Remembrance Gallery.
      </p>
      <!-- <ButtonTriggerModal client:idle btnText="Click to see an interstitial">
        <div>
          <h3>Interstitial dialog box</h3>
          <p>
            This is where we can put any HTML to display in an interstitial, or a
            text box that shows up over the webpage. turn isOpen={true} if you want
            this to show up immediately when the page displays.
          </p>
          <ul>
            <li>Any Valid HTML can be inserted here</li>
            <li>This item can be as long as you like</li>
            <li>You can include a photo, as below</li>
          </ul>
          <img src="/Remembrance-Gallery-Render-1.jpg" />
        </div>
      </ButtonTriggerModal> -->
      </main>
    <Footer />
    <style lang="scss">
      .recent-events {
        border: 3px solid rgb(var(--gray));
        h3 {
          font-size: 1.4rem;
          background-color: rgb(var(--gray));
          color: white;
          padding: 0.7rem;
          text-align: center;
        }
        ul {
          padding: 1rem;
          list-style: none;
        }
        h4 {
          font-size: 1.2rem;
          font-weight: 700;
          .date {
            padding: 0 0 0 0.5rem;
            color: var(--accent);
            font-size: 1rem;
          }
          a {
            color: black;
          }
        }
        p {
          margin: 0.5rem 0 0.5 0.5rem;
          line-height: 1.4rem;
          color: black;
        }
      }
    </style>
  </body>
</html>
