---
import { menubar,galleryMenubar } from "../topMenu";
import MenuSwitcher from "./MenuSwitcher.astro";
interface Props {
	isGalleryPage: boolean;
}

const { isGalleryPage } = Astro.props;
const menuList = isGalleryPage ? galleryMenubar : menubar;

---

<header class:list={[{ "gallery-page-style": isGalleryPage }]}>
  <MenuSwitcher isGalleryPage={isGalleryPage} />
  <nav>
    <img class="hamburger" src="/menu-icon.svg" alt="Menu Icon" id="menu-icon" />
    <div class="internal-links">
      <ul class="menubar" role="menubar">
        {
          menuList.map((menuItem) => {
            return (
              <li
                class="menuItem"
                id={menuItem.id}
                role="menuitem"
                aria-haspopup={menuItem.isDropdown}
              >
                <a
                  tabindex={0}
                  href={menuItem.isDropdown ? null : menuItem.src}
                  class="top-link"
                >
                  {menuItem.label}{menuItem.isDropdown ? <img class="menu-icon" src="/downarrow.svg" alt="menu icon" /> : null}
								</a>
                  {!menuItem.isDropdown ? null : (
                    <ul class="submenu" role="menu">
                      {menuItem.children.map((menuItem) => {
                        return (
                          <li>
                            <a href={menuItem.src}>{menuItem.label}</a>
                          </li>
                        );
                      })}
                    </ul>
                  )}
              </li>
            );
          })
        }
      </ul>
    </div>
  </nav>
</header>
<style lang="scss">
  header {
    margin: 0;
		background: rgb(var(--navigation-background), 10%);
    box-shadow: 0 2px 8px rgba(var(--navigation), 5%);
    border-bottom: 2px solid rgb(var(--navigation-background), 100%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  .hamburger {
    display:none;
  }
  .internal-links.hamburger-menu {
    display:none;
  }
  header.gallery-page-style {
    background-color: white;
    border-bottom: 1px solid darkgray;
    nav {
      font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
      background-color: white;
    }
    .top-link {
      color: black;
      font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    }
    ul.submenu {
      background-color: rgb(164,192,163);
      border: none;
      li a {
        color: black;
        font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
      }
    }
  }
  .top-link {
    padding: 1em 0 0.5rem 0;
    color: var(--navigation);
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: clamp(15px, 2.4vw, 20px);
    font-family: 'Atkinson';
    cursor: pointer;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  ul.menubar {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0 !important;
  }

  .menuItem a {
    text-decoration: none;
    font-weight: 700;
    color: var(--navigation);
   }
  .menuItem a:hover {
    text-decoration: underline;
  }
  .menu-icon {
    padding-left:2px;
    width: 0.7rem;
  }
  ul.submenu:hover,
  .menuItem a:focus-within + ul.submenu {
    left: auto;
  }

  ul.submenu {
    left: -1000px;
    position: absolute;
    border: 1px solid white;
    background-color: var(--navigation);
    padding: 0;
    z-index: 100;
    li {
      list-style: none;
      padding: 0.5rem;
      a {
        display:block;
        font-size: 1rem;
        text-decoration: none;
        font-weight: lighter;
        color: white;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: 840px) {
    ul.menubar {
      margin-right: 2rem;
      gap: 0.5rem;
    }
    ul.submenu li a {
      font-size: 13px;
    }
  }
  @media (max-width:550px) {
    nav {
      .hamburger {
        display:block;
        height:1.5rem;
        width:1.5rem;
        margin:0.5rem;
      }
      ul.menubar {
        margin-right: 0;
        display: inherit;
        a {
          padding-top: 0;
          font-size: 1.2rem;
        }
      }
    }
  }
</style>
